.loader{
    position: absolute;
    height: 100px;
    width: 100px;
    padding-left:30%;
    display: flex;
    
}

.containers {
    height: 100%;
    /* width: 98vw; */
    display: block;
    overflow: hidden;
    /* background-color: #e5b4b4; */
    margin: 1%;
}

.heading {
    margin-top: 2%;
    padding: 3rem 0rem 0.5rem 4rem;
    background-color: #ffffff4b;
}

.itemcontainer{
    /* background-color: #e89090; */
    width: 98%;
    margin: 1%;
    padding: 1%;
    display: flex;
}

.filtercontainer{
    width: 19%;
    height: 700px;
    /* background-color: #d0d0d0; */
    z-index:100;
    box-shadow: 1px 1px 10px 2px rgb(191, 191, 191);
}

.leftcontainer{
    width: 80%;
    float: left;
    margin-left: 1%;
    background-color: #f0f0f0;
}

.itemsrow {
    margin: 1rem 1.3rem;
    padding: 0.7rem;
    /* background-color: #b8b8b8a7; */
    /* height: 1440px; */

}

.item {
    
    /* box-shadow: 5px 5px 10px  rgb(133, 133, 133); */
    z-index:100;
    width: 31%;
    height: 528px;
    margin: 0.7rem 0.7rem 2rem 0.7rem;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content:space-around;
}
.item:hover{
    box-shadow: 1px 1px 10px  rgb(133, 133, 133);

}
#itemimage{
    height: 17rem;
    width: 90%;
    background: #000;
    margin: 5% 5% 0% 5%;
    /* background-color: #fc8282; */
    display: grid;
}

#itemimage img{
    /* margin: auto; */
    width: 100%;
    height: 100%;  
}
.item p{
    height: 80px;
    font-size: 18px;
    margin: 10% 0% 0% 4% ;
    width: 90%;
    background-color: #fff;
    color: #000;
}
#price{
    font-size: 1.2rem;
    position: absolute; 
    margin-left: 1%;
     width: 20%;
     color: #000;
     /* background-color: #e17676; */
}
#price h3{
    color: #fff;
    background-color: #3ced56;
    height: 2rem;
    width: 3rem;
    float: right;
    margin-right: 2.8%;
    border-radius: 0.3rem;
    text-align: center;
    font-size:1.3rem;
    padding-top: 0.1rem;
}
.item button{
    background-color: #fff;
    height: 3rem;
    width: 8rem;
    margin: 6% 1%;
    position: absolute;
    border: 2px solid red ;
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}


@media only screen and (max-width: 824px){

    .heading {
        margin-top: 1%;
        padding: 1rem 0rem 0.5rem 2rem;
      
    }
    .filtercontainer{
        display: none;
    }
    .leftcontainer{
        width: 98%;
        
    }
    
.item {
    justify-content:space-around;

    width: 40vw;
    height: 500px;
}
.itemsrow {
    margin:4.2%;
    padding: 0rem;

}

.itemcontainer{
    width: 100%;
    margin: 0%;
    padding: 0%;
}
.item p{
    font-size: 1.6rem;
    margin: 1.3% 0% 0.3% 5%;
}
#price{
    font-size: 1.6rem;
    width: 37%;
}
.item button{
    margin: 7% 1%;
    border: 1px solid red ;
    position: fixed;
}

}
@media only screen and (min-width: 825px) and (max-width: 991px){

    .heading {
        margin-top: 1%;
        padding: 1rem 0rem 0.5rem 2rem;
      
    }
   
    .filtercontainer{
        display: none;
    }
    .leftcontainer{
        width: 98%;
        
    }
 

.itemcontainer{
    width: 100%;
    margin: 0%;
    padding: 0%;
}   
.item {

    width: 41vw;
    height: 600px;
}

#price{
    font-size: 1.6rem;
    width: 37%;
    /* margin: 10%; */
}
.item p{
    font-size: 1.7rem;
    margin: 23% 0% 2% 4% ;

}
.item button{
    margin: 7% 1%;
    border: 1px solid red ;
}

    /* CSS rules specific to desktop/laptop screens */
}
@media only screen and (min-width: 992px) {

    .heading {
        margin-top: 1%;
        padding: 1rem 0rem 0.5rem 2rem;
      
    }
    .itemsrow {
        margin: 0.1rem 0rem;
        padding: 0rem;
  
    }
    .item {

        width: 23vw;
        height: 600px;
justify-content: space-between;
padding: 0%;    }
    
    #price{
        font-size: 1.6rem;
        width: 20.3%;
        /* margin: 10%; */
    }
    .item p{
        font-size: 1.7rem;
        margin: 23% 0% 2% 4% ;
    
    }
    .item button{
        margin: 5.5% 1%;
        border: 1px solid red ;
    }
    .noneFilterContainer{
        display: none;
    }
    /* CSS rules specific to desktop/laptop screens */
}