/*home page banner*/
.banner-heading {
    height: 430px;
    width: 600px;
    margin-left: -190px;
}

.banner-heading img {
    height: 150px;
    width: 350px;
    margin-top: -20px;
    margin-left: -240px;
    padding: 0px;
}

.banner-heading h1 {
    font-size: 35px;
    text-align: left;
    margin: 20px 0px;
    font-weight: lighter;
}

.banner-heading p {
    font: 20px;
    text-align: left;
    margin: 20px 0px;
    font-weight: 500;
}

.banner-heading button {
    margin-top: 10px;
    margin-left: -470px;
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 22px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--primary-color);

}

/* 2nd section of home page-image-gallery-slider*/
.image-gallery-slider {
    margin: 40px 12px;
    height: 160px;

}

.container-slider {
    background-color: var(--primary-color);
    height: 160px;
    width: 98%;
    position: absolute;
    /* border: 1px solid black; */
}

.container-slider img {
    width: 100%;
    height: 100%;
    border-radius: 16px;

}

.box-slider {
    height: 160px;
    width: 18.2%;
    margin-top: 9px;
    margin-left: 25px;
    float: left;
    border-radius: 16px;
}

/*3rd section*/
.template {
    background-color: var(--primary-color);
    height: 700px;
    width: 100%;
}

.template-box-right {
    position: absolute;
    margin-left: 45%;
    height: 700px;
}

.template-box-right img {
    height: 650px;
    width: 650px;
}

/*3rd section content printer and 2buttons*/
.template-box-content {
    position: absolute;
    margin-top: 200px;
    margin-left: 28px;
    width: 400px;
    color: var(--secondary-color);
}

.template-heading {
    font-size: 35px;
}

.template-subheading {
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    line-height: 32px;
}

.template-btn button {
    margin-top: 20px;
    margin-left: 5px;
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    border-color: rgb(0 112 204);
    color: var(--primary-color);
    background-color: rgb(0 112 204);
}

.template-btn2 button {
    margin-left: 5px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    color: var(--primary-color);
    background-color: rgb(213 59 0);
    border-color: rgb(213 59 0);

}

/*4th image gallery*/
.image-gallery {
    background-color: var(--primary-color);
    margin: 10px 12px;
    height: 160px;
    margin-bottom: 80px;
}

.image-container {
    height: 220px;
    width: 98%;
    position: absolute;
    border: 1px solid var(--secondary-color);

}

.boxes {
    height: 200px;
    width: 14%;
    margin-top: 9px;
    margin-left: 32px;
    float: left;
    border-radius: 16px;
}

.boxes img {
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.boxes p {
    color: var(--secondary-color);
    margin-top: 12px;
    text-align: center;
}

/*5th section poster*/
.poster,
.poster-container,
.poster-box-bg {
    width: 100%;
    height: 540px;
    background-image: url(https://i.ibb.co/r55X7jH/5s-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.poster-box {
    position: absolute;
    width: 90%;
    margin: 30px 5%;
    height: 500px;
}

.leftbox,
.rightbox {
    float: left;
    height: 450px;
    width: 42%;
    margin-top: 25px;
}

.leftbox-logo {
    height: 60px;
    width: 300px;
    margin-top: 110px;
}

.leftbox-logo img {
    height: 100%;
    width: 100%;
}

.leftbox-subheading {
    line-height: 24px;
    width: 500px;
    font-weight: bold;
    margin-top: 32px;
    color: white;
}

.leftbox-btn a button {
    width: 200px;
    height: 38px;
    margin-top: 27px;
    border-radius: 22px;
    border-color: #0070cc;
    background-color: #0070cc;
    color: #cb1616;
    font-weight: bold;
    font-size: 15px;
}

.rightbox {
    margin-left: 150px;
}

.rightbox-img {
    height: 450px;
    width: 100%;
}

.rightbox-img img {
    height: 100%;
    width: 100%;
}

/*6th section extra large poster*/
.extra-large-poster,
.extra-large-container {
    height: 730px;
    background: #252550;
    background-image: url(https://i.ibb.co/xHqqBbR/6s-bg.webp);
    /* background-image: linear-gradient(to bottom,rgba(64, 45, 134, 0.065),rgb(104, 40, 201)); */
    object-fit: cover;
    background-repeat: no-repeat;
    /* background-size: 1400px; */
    /* background-position: ; */
}

.extra-large-content {
    position: absolute;
    margin-left: 20px;
    margin-top: 60px;
    width: 690px;
    color: var(--primary-color);
}

.extra-large-container p {
    font-size: 42px;
    color: var(--secondary-color);
}

#pbold {
    font-weight: bold;
    margin-top: 5px;
}

#psubheading {
    margin-top: 25px;
    font-size: 22px;
    line-height: 28px;
}

.store-btn button {
    margin-top: 30px;

    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
}

.extra-large-content-btn button {
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
}

.extra-large-container-box {
    position: absolute;
    margin-top: 400px;
    margin-left: 40px;
    height: 290px;
    width: 94%;
    display: flex;
    justify-content: space-between;
}

.container-subbox {
    float: left;
    height: 290px;
    width: 360px;

}

.container-img {
    height: 200px;
}

.container-img,
.container-box-img:hover {
    transform: scale(1.02);
}

.container-img a img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px black;
}

.container-title {
    margin-top: 30px;
    font-size: 22px;
    color: white;
    text-align: center;
}

/*7th section of larger slider with img gallery*/
.larger-slider-gallery {
    width: 100%;
    height: 750px;
    background-color: rgb(19, 19, 19);
}

.larger-slider-container {
    position: absolute;
    height: 650px;
    width: 94%;
    display: flex;
    margin: 50px 15px 30px 50px;
}

.larger-slider-heading {
    width: 500px;
    height: 70px;
    color: white;
    font-size: 25px;
    line-height: 35px;
}

.larger-slider-btn {
    margin-left: 50%;
    margin-top: 35px;
}

.larger-slider-btn button {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    font-size: 28px;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}

.slider-container {
    width: 100%;
    position: absolute;
    margin-top: 90px;
    height: 530px;
    float: left;
    justify-content: space-between;
}

.container-box {
    height: 240px;
    width: 195px;
    margin-right: 41px;
    margin-top:47px;
    float: left;

}

.container-box-img {
    height: 180px;
    width: 180px;
}

.container-box-img img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.container-img-title {
    height: 50px;
    margin: 3px;
    text-align: left;
}

.container-img-title p {
    padding-top: 8px;
    font-size: 18px;
    color: white;
}

/*8th section store*/
.eight-store-template {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    height: 570px;
}

.eight-store-container {
    margin: 55px 20px 55px 40px;
    height: 500px;
}

.eight-store-container-contendbox {
    height: 340px;
    width: 400px;
    margin-top: 100px;
    float: left;
}

.storelogo {
    height: 70px;
    width: 300px;
}

.storelogo img {
    width: 100%;
    height: 100%;
}

.store-heading {
    font-size: 45px;
    line-height: 60px;
}

.store-subheading {
    line-height: 28px;
    margin-top: 15px;
    font-size: 20px;
}

#store-btn button {
    color: var(--primary-color);
    background-color: #cb1616;
    border-color: #cb1616;
}

.eight-store-container-sidecontend {
    position: absolute;
    float: left;
    height: 500px;
    width: 63%;
    margin-left: 33%;
}

.eight-store-container-sidecontend a img {
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

/*9th section of product sale*/
.product-container,
.product-container-overlay {
    width: 100%;
    height: 1070px;
}

.product-container {
    background: #1f1f1f;
    border: 1px solid rgb(29, 31, 30);
    background-image: url(https://i.ibb.co/pZsvC4X/9s-bg.webp);
    background-repeat: no-repeat;
    background-size: 1700px 800px;
    position: relative;
}

.product-container-overlay {
    background-color: rgba(0, 0, 0, 0.395);
    z-index: 1;
    position: absolute;
}

.product-container-box {
    width: 96%;
    height: 91%;
    margin: 50px 20px;
    z-index: 2;
}

.product-content {
    width: 47%;
    height: 255px;
}

.product-logo {
    width: 90px;
    height: 85px;
}

.product-logo img {
    height: 100%;
    width: 100%;
}

.product-heading {
    color: white;
    font-size: 42px;
    margin-top: 22px;
    line-height: 50px;
}

.product-subheading {
    color: white;
    line-height: 20px;
    margin-top: 12px;
    font-size: 18px;
}

.product-main-box {
    height: 480px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between
}

.product-box {
    width: 300px;
    height: 480px;
    float: left;
    background-color: black;
    ;
}

.product-img {
    height: 230px;
    width: 230px;
    margin: auto;
    margin-top: 22px;
}

.product-img img {
    height: 100%;
    width: 100%;
}

.productname {
    color: white;
    font-size: 20px;
    height: 70px;
    width: 270px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    line-height: 32px;
}

.product-btn {
    margin-left: 90px;
    margin-top: 30px;
}

.product-btn button {
    height: 40px;
    width: 120px;
    font-size: 15px;
    color: white;
    background-color: #cb1616;
    border-radius: 20px;
}

.product-btn button:hover {
    border: 2px solid rgb(0, 0, 0);

}

.product-btn2 button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 50px;
    width: 200px;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 42.5%;
    font-weight: bold;
}

/*10th section-socialmedia*/
.socialmedia {
    height: 400px;
    width: 100%;
    background: var(--primary-color);
}

.socialmedia-container {
    position: absolute;
    width: 40%;
    height: 300px;
    margin-top: 50px;
    margin-left: 420px;
}

.socialmedia-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: var(--secondary-color);
    margin-left: 100px;
}

.socialmedia-icon {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 100px;
}

.social-img {
    height: 110px;
    width: 110px;
    float: left;
    filter:drop-shadow(6px 15px 7px rgb(143, 143, 143))
}

.social-img img {
    width: 100%;
    height: 100%;
}