@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/*footer*/
.footer {
    height: 560px;
    width: 100%;
    background-color: rgb(0 67 156);
}

.footer-container {
    height: 550px;
    width: 88%;
    position: absolute;
    margin-top: 25px;
    margin-left: 70px;
}

.footer-logo {
    height: 60px;
    width: 180px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    background-color: #0070cc;
    background-image: #0070cc;
}

.footer-hr,
.footer-hr2,
.footer-hr3 {
    height: 1px;
    background-color: #1f5681;
    margin-top: 10px;
}

.footer-ul {
    display: flex;
    float: left;
    width: 100%;
    height: 150px;
    margin-top: 10px;
}

.footer-ul-li {
    width: 40%;
}

.footer-ul-li ul {
    list-style-type: none;
    color: var(--primary-color);
    line-height: 28px;
}

#li-bold {
    font-weight: bold;
    font-size: 18px;
}

.footer-hr2 {
    margin-top: 220px;
}

.footerlogo2,
.footerlogo-heading {
    height: 90px;
    width: 100px;
    margin-top: 30px;
    float: left;
}

.footerlogo2 img {
    width: 100%;
    height: 100%;
}

.footerlogo-heading {
    font-size: 21px;
    display: flex;
    color: var(--primary-color);
    padding-left: 10px;
}

.footerlogo3 {
    margin-left: 78%;
    height: 55px;
    width: 40px;
    margin-top: 30px;
    float: left;
}

.footerlogo3 img {
    height: 100%;
    width: 100%;
}

.footer-hr3 {
    margin-top: 150px;
}

.footer-bottom {
    height: 30px;
    margin-top: 30px;
    display: flex;
}

.footer-content a img {
    height: 30px;
    width: 30px;
    float: left;
}

.footer-bottom a p {
    float: left;
    font-size: 18px;
    color: var(--primary-color);
    margin: 5px;
}

.footer-bottom-ul {
    margin-left: 45%;
}

.footer-bottom-ul ul {
    list-style-type: none;

}

.footer-bottom-ul ul li {
    float: left;
    margin-left: 3px;
    margin-top: 5px;
}

.footer-bottom-ul ul li a {
    color: var(--primary-color);
    float: left;
    margin-left: 10px;

}
.copyright {
    height: 25px;
    font-family: "Caveat" ;
    padding-top: 15px;
    background: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

