@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&family=Inter:wght@600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway&family=Roboto:wght@100&display=swap');

/* * {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} */

a {
    text-decoration: none !important;
}

body {
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

#pslogo{
    height: 50px;
    width: 50px;
    margin-right: 40px;
    padding: 5px;
}
/*coupon card*/

#main {
    background-color: #2f76e25e;
    min-height: 100vh;
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 100%;
}

#coupon {
    height: 300px;
    width: 600px;
    position: relative;
    background-color: #4256eb;
    z-index: 2000 !important;
    top: 25%;
    margin-left: 30%;
    visibility: hidden;
}

#coupon button {
    position: absolute;
    margin-left: 93.5%;
    color: rgb(3, 3, 3);
    padding: 1px 12px;
    font-size: 25px;
    border-style: none;
    z-index: 10;
}

#coupon button:hover {
    color: white;
    background-color: red;
    transition: ease-in 0.3s;
}

.left2 {
    position: absolute;
    background-color: #4256eb;
    border-radius: 0 50% 50% 0;
    width: 50%;
    margin-left: 10%;
    height: 100%;
    z-index: 5;

}

.left3 {
    position: absolute;
    background-color: #1228b5;
    border-radius: 0 50% 50% 0;
    width: 50%;
    margin-left: 20%;
    height: 100%;
    z-index: 4;
}

.left4 {
    position: absolute;
    background-color: #0d1a73;
    border-radius: 0 50% 50% 0;
    width: 50%;
    margin-left: 30%;
    height: 100%;
    z-index: 3;
}

.left5 {
    position: absolute;
    background-color: #111a53;
    border-radius: 0 50% 50% 0;
    width: 50%;
    margin-left: 40%;
    height: 100%;
    z-index: 2;
}

.left6 {
    position: absolute;
    background-color: #0f132d;
    border-radius: 0 50% 50% 0;
    width: 50%;
    margin-left: 50%;
    height: 100%;
    z-index: 1;
}

.left6 {
    position: absolute;
    background-color: #0f0f11;
    border-radius: 0 0 0 0;
    width: 40%;
    margin-left: 60%;
    height: 100%;
}

.couponimg1 {
    position: absolute;
    height: 120px;
    width: 120px;
    margin: 20px 0px 0px 0px;
    display: flex;
}

.couponimg2 {
    position: absolute;
    float: left;
    height: 40px;
    width: 40px;
    margin: 100px 0px 0px 110px;

}

.couponheading,
.couponpara {
    position: absolute;
    margin: 55px 60px;
    padding: 3px;
    text-align: center;
    color: aliceblue;
}

.couponpara {
    margin-top: 150px;
    margin-left: 1px;
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;

}

.couponpara2 {
    margin: 225px 10px;
    font-size: 16px;
}

.button {
    position: absolute;
    /* margin-top: 245px;
    margin-left: -120px; */
    width: 90px;
    height: 30px;
    font-size: 10px;
}


/*home page top bar*/
/*main div*/
.top {
    position: relative;
    max-width: 100%; /* Ensure the top div takes up full width */
    height: 2rem; /* Set height as needed */
    background-color: #000000; /* Optional background color for visualization */
}

.image-link {
    position: absolute;
    top: 0;
    right: 0;
}

.image {
    width: 5rem; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}

/*Home page Main Header dropdown*/
.sticky {
    position: sticky !important;
    top: 0;
}

.header-container {
    width: 100%;
    height: 60px;
}

/*ps-logo*/
.ps-logo {

    height: 30px;
    width: 40px;
    margin-left: 20px;
    margin-top: 0px;
}

.ps-logo img {
    height: 100%;
    width: 100%;
}

.navContainerbg1 {
    z-index: 10;
}

.dropDownColor a {
    color: #3a3838;
}

/*dark and light mode*/
:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

.myDark {
    --primary-color: #000;
    --secondary-color: #fff;
    /* background-color: #000!important;
    color: #fff !important; */
}

.darkmodeclr {

    color: var(--secondary-color) !important;
}


.weather {
    position: absolute;
    background-color: var(--primary-color) !important;
    margin-left: 560px;
    margin-top: -37px;
    width: 80px;
    height: 35px;
    /* color: #000 !important; */
    border-style: none !important;
}

#weatherid {
    position: absolute;
    height: 33px;
    width: 48px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    color: var(--secondary-color);
}

.weathericon {
    width: 30px;
    height: 30px;
    margin-left: 45px;
    margin-top: 2px;
}


/*login logout buttons*/
#social{
    /* margin-right: 1%; */
    /* margin-left: 70%; */
    display: flex;
}
#social img{
   height: 18px;
   margin-top: -2px;
   
}
.socialLogo{
    height:50px;
}

#icon {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -35px;
    background-color: var(--primary-color);
    margin-left: 650px;
    border-style: none;
    cursor: pointer;
}

/*bootstrap css*/
.dropDownMenuSize {
    height: 190px;
    width: 1150px;
}

.dropDownMenuSize li {
    float: left;
}

.dropDownMenuSize:hover {
    box-shadow: 0px 3px 5px #00000029;
}

.dropdown-menu-dark {
    background: var(--primary-color);

}

.innerListDivPosition {
    margin-right: 20%;
}

.navMenu {
    display: flex;
    justify-content: center;
}

.navMenu li span {
    margin: 5px 15px;
    height: 100px;
    /* background-color:var(--primary-color); */
    width: 150px;
}

figcaption {
    color: #000;
    font-size: 13px;
    margin: 5px 0px;
    padding: 2px 0px;
    text-align: center;
}

.GameOptionImg {
    height: 60px;
    width: 60px;
}

.GameOptionImg img {
    width: 100%;
    height: 100%;
    margin-left: 25px;
}


.navMenu li a:hover {
    background-color: var(--primary-color);
    box-shadow: 0px 3px 5px #00000029;
}

.extraOptionContainer {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin-top: -8px;
}

.extraOptions ul {
    background: #9a8181;
}

.extraOptions li {
    margin: 5px 25px;
    list-style-type: circle;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}